body{
 background: url(../img/MATEMATICA.jpg);
text-align: center;

}
h1 {
margin: 40px 20px;  
color: #ff3f39d3;
font-size: 75px;
}
p{
color: #f7b526;
font-size: 20px;
}

button {
padding:12px 40px ;
margin: 30px 20px;
background: #6d62fa;
color: white;
border: 3px solid white;
border-radius: 10px;

}
button:hover{
background: #1d1c1d;
color: #f5f5f5;
cursor:pointer;
transition:.5s;
}
img{
width:100% ;
border-radius: 25px;


}
#btnsuma:hover {
    background: #530666;
}